.header {
    background-size: cover;
    height: 35vh;
    padding-bottom: 30px;
}

.mat-icons:hover {
    cursor: pointer;
}

.image-header {
    height: 41%;
    padding-top: 30px;
}

#fav {
    width: 43.5px;
    text-align: left;
    height: 36px;
    transition: 0.5s;
    margin-left: 5px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}
.editActionButton {
    width: 115px !important;
}

.editListItem {
    height: 88px !important;
}

.contactInput {
    width: 42% !important;
    margin-right: 5px;
}

.contactsItem:hover {
    cursor: pointer;
}

.mat-inputs {
    width: 50% !important;
    display: block;
}

.image-body {
    height: 59%;
}

.image-body > .pl-0 {
    margin-left: -50px;
}

.image-body>.col-sm-6 {
    padding-left: 7vw;
}

.image-header>.col-sm-6 {
    padding-left: 40px;
}

.image-header>.col-sm-4,
.image-body>.col-sm-4 {
    padding-right: 40px;
}

.image-body>.col-sm-4 {
    padding-top: 10px;
}

#titulo {
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
    padding: 1%;
    color: white;
}

.botoes {
    background-color: #39E85F;
    border-color: #39E85F;
}

#botao2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

#fav:hover,
#fav.focus {
    width: 220px;
}

#detalhes {
    text-align: left;
    font-weight: bold;
}

#resumo {
    text-align: justify;
}

#titulo2 {
    text-align: center;
}

#lista {
    display: inline-block;
}

#areasInteresse {
    margin-right: 5px;
}

.cardGallery {
    max-width: 248px;
    height: 240px;
    box-sizing: border-box;
}

.cardImage {
    width: 100% + 32px;
    height: 90%;
}

.cardButtonActions {
    height: 10%;
}

h4 {
    margin-block-end: 0px !important;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



.multi-item-carousel .carousel-inner>.item {
    -webkit-transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}

.multi-item-carousel .carousel-inner .next {
    left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner>.item {
        -webkit-transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out left;
        -webkit-transition: 500ms ease-in-out all;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none!important;
        transform: none!important;
    }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}
