<div id="firstdiv" class="container" *ngIf="project">
  <div class="container header"
    [ngStyle]="coverPhoto != '' && coverPhoto != undefined ? {'background-image':'url('+getSrc(coverPhoto)+')'} : {'background-color':'#a6a6a6'}">
    <div class="row image-header justify-content-end">
      <div class="col-sm-8">
        <button routerLink="/projects" mat-raised-button data-toggle="button" aria-pressed="false" autocomplete="off">
          <mat-icon>chevron_left</mat-icon> Voltar aos Projetos
        </button><br>
      </div>
      <div class="col-sm-4 text-right">
        <button class="editActionButton" mat-raised-button color="primary" *ngIf="isManager || isResponsible"
          (click)="editButtonClicked()" data-toggle="button" aria-pressed="false" autocomplete="off">
          <mat-icon>{{isEditButtonToggled ? 'cancel' : 'edit'}}</mat-icon>
          {{isEditButtonToggled ? 'Cancelar' : 'Editar'}}
        </button><br>
        <button mat-raised-button color="warn" *ngIf="isEditButtonToggled && isResponsible"
          class="mt-1 editActionButton" (click)="openDeleteProjectDialog()">
          <mat-icon>delete_forever</mat-icon> Eliminar
        </button><br>
        <button mat-raised-button *ngIf="isEditButtonToggled" class="mt-1 editActionButton"
          (click)="saveUpdatedProject()">
          <mat-icon>check</mat-icon> Guardar
        </button><br>
        <button mat-raised-button *ngIf="isEditButtonToggled" class="mt-3" (click)="activateEditAll()">
          <mat-icon>edit</mat-icon> Editar tudo
        </button>
      </div>
    </div>
    <div class="row image-body">
      <div class="col-sm-8">
        <div *ngIf="!isEditButtonToggled" class="mr-3">
          <h1 id="titulo">{{project.nome}}</h1>
          <button *ngIf="role === 'Voluntario Interno' && candidato===false" type="button" mat-raised-button
            color="primary" (click)="volunteer()">Candidatar</button>
          <button *ngIf="candidato===true" type="button" mat-raised-button color="warn"
            (click)="cancelVolunteer()">Cancelar Candidatura</button>
          <button mat-raised-button
            *ngIf="!candidato && (project.voluntarios.length===project.vagas && role=== 'Voluntario Interno')"
            color="warn">Sem vagas</button>
          <button *ngIf="isAuthenticated" (click)="updateFavProject()" (mouseover)="hoverFavButton(true)"
            (mouseleave)="hoverFavButton(false)" id="fav" type="button" class="btn btn-outline-warning">
            <i [class]="isFavProject ? 'fas fa-star mr-1' : 'far fa-star mr-1'"></i> {{addRemFavButtonText}}
          </button>
        </div>
      </div>

    </div>
  </div>
  <mat-tab-group class="container">
    <mat-tab label="Informação">
      <br>
      <h1 id="titulo2">{{isEditButtonToggled ? 'Editar Projeto' : project.nome}}</h1>
      <mat-form-field appearance="fill" *ngIf="isEditButtonToggled" class="mat-inputs">
        <mat-label>Nome do Projeto</mat-label>
        <button mat-button matPrefix mat-icon-button (click)="readonlyInput('projectName')">
          <mat-icon>{{isProjectNameInputReadonly ? 'edit' : 'check'}}</mat-icon>
        </button>
        <input matInput placeholder="Nome do projeto" [(ngModel)]="updatedProject.nome"
          [readonly]="isProjectNameInputReadonly">
        <button mat-button *ngIf="!isProjectNameInputReadonly" matSuffix mat-icon-button aria-label="Clear"
          (click)="updatedProject.nome=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <h4 *ngIf="!isEditButtonToggled" class="row col mb-3" id="resumo">{{project.resumo}}
      </h4>
      <hr>

      <h4 id="detalhes" class="row col" *ngIf="!isEditButtonToggled"> Áreas de Interesse:
        <div *ngFor="let a of project.areasInteresse">
          <h5 class="  badge badge-primary row " id="areasInteresse">{{a}}</h5>
        </div>
      </h4>

      <h4 id="detalhes" class="row col" *ngIf="!isEditButtonToggled && project.contactos.length>0">
        Contactos:</h4>
      <div *ngFor="let c of project.contactos">
        <h4 class="col">{{c.contacto}} |{{c.descricao}}</h4>
      </div>

      <hr>
      <mat-form-field appearance="fill" *ngIf="isEditButtonToggled" class="mat-inputs">
        <mat-label>Resumo</mat-label>
        <button mat-button matPrefix mat-icon-button (click)="readonlyInput('projectSummary')">
          <mat-icon>{{isProjectSummaryInputReadonly ? 'edit' : 'check'}}</mat-icon>
        </button>
        <textarea rows="3" matInput placeholder="Resumo do projeto" [(ngModel)]="updatedProject.resumo"
          [readonly]="isProjectSummaryInputReadonly"></textarea>
        <button mat-button *ngIf="!isProjectSummaryInputReadonly" matSuffix mat-icon-button aria-label="Clear"
          (click)="updatedProject.resumo=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <h4 *ngIf="!isEditButtonToggled && project.restringido" id="detalhes" class=" m-5 col text-center">
        <h4 class=" badge badge-danger"> Atenção </h4> Este projeto tem
        inscrições
        restirgidas! <h4 *ngIf="!isEditButtonToggled && project.restringido" id="detalhes" class=" text-center">Ao se
          inscrever
          neste projeto, sua inscrição ficará pendente até futura aprovação por parte
          gestor do projeto</h4>
      </h4>


      <h4 *ngIf="!isEditButtonToggled" id="detalhes" class="row col">Inscrições até:
        <h4 id="lista" class="col">{{project.dataFechoInscricoes|date:'shortDate'}}</h4>
      </h4>


      <h4 *ngIf="!isEditButtonToggled" id="detalhes" class="row col">Data de Começo:
        <h4 id="lista" class="col">{{project.dataComeco|date:'shortDate'}}</h4>
      </h4>
      <h4 *ngIf="!isEditButtonToggled" id="detalhes" class="row col">Data de Fim:
        <h4 id="lista" class="col">{{project.dataTermino|date:'shortDate'}}</h4>
      </h4>
      <mat-form-field appearance="fill" *ngIf="isEditButtonToggled && isResponsible" class="mat-inputs">
        <mat-label>Data de fecho das inscrições</mat-label>
        <button mat-button matPrefix mat-icon-button (click)="readonlyInput('projectApplicationsCloseDate')">
          <mat-icon>{{isProjectApplicationsCloseDateReadonly ? 'edit' : 'check'}}</mat-icon>
        </button>
        <input matInput [matDatepicker]="dataFechoInscricoesPicker" [(ngModel)]="updatedProject.dataFechoInscricoes"
          [readonly]="isProjectApplicationsCloseDateReadonly">
        <mat-datepicker-toggle matSuffix [for]="dataFechoInscricoesPicker"
          [disabled]="isProjectApplicationsCloseDateReadonly"></mat-datepicker-toggle>
        <mat-datepicker #dataFechoInscricoesPicker></mat-datepicker>
      </mat-form-field>

      <h4 *ngIf="!isEditButtonToggled" id="detalhes" class="row col">Número de Vagas:
        <h4 id="lista" class="col">{{project.vagas}}</h4>
      </h4>
      <mat-form-field appearance="fill" *ngIf="isEditButtonToggled" class="mat-inputs">
        <mat-label>Número de vagas</mat-label>
        <button mat-button matPrefix mat-icon-button (click)="readonlyInput('projectVacancies')">
          <mat-icon>{{isProjectVacanciesReadonly ? 'edit' : 'check'}}</mat-icon>
        </button>
        <input type="number" matInput placeholder="Número de vagas" [(ngModel)]="updatedProject.vagas"
          [readonly]="isProjectVacanciesReadonly">
        <button mat-button *ngIf="!isProjectVacanciesReadonly" matSuffix mat-icon-button aria-label="Clear"
          (click)="updatedProject.vagas=null">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="isEditButtonToggled">
        <div class="d-flex align-items-center">
          <h2>Areas de Interesse</h2>
        </div>
        <form [formGroup]="form">
          <div>
            <ul class="m-5 col-lg-10 list-unstyled" style="column-count: 2;">
              <li *ngFor="let control of areasArray.controls; let i = index" #checkboxes>
                <div>
                  <div class="row">
                    <mat-checkbox labelPosition="after" class="col-md-5" [formControl]="control"
                      (change)="getSelectedAreas()" id="{{ areas[i] }}">{{ areas[i] }}</mat-checkbox>

                  </div>
                </div>
              </li>
              <!-- </div> -->
            </ul>
          </div>
        </form>
      </div>
      <h4 id="detalhes" *ngIf="!isEditButtonToggled &&  project.formacoesNecessarias.length>0" class="row">Formações
        Necessárias:
        <div *ngFor="let f of project.formacoesNecessarias">
          <h4 class="col">{{f}} </h4>
        </div>
      </h4>
      <!-- <mat-form-field appearance="fill" *ngIf="isEditButtonToggled" class="mat-inputs">
        <button mat-button matPrefix mat-icon-button (click)="readonlyInput('projectNecessaryFormations')">
          <mat-icon>{{isProjectNecessaryFormationsReadonly ? 'edit' : 'check'}}</mat-icon>
        </button>
        <mat-chip-list #chipList aria-label="Criar formacoes necessarias">
          <mat-chip *ngFor="let formacao of updatedProject.formacoesNecessarias"
            [removable]="!isProjectNecessaryFormationsReadonly" (removed)="removeNecessaryFormation(formacao)">
            {{formacao}}
            <mat-icon matChipRemove [style.visibility]="isProjectNecessaryFormationsReadonly ? 'hidden' : 'visible'">
              cancel</mat-icon>
          </mat-chip>
          <input placeholder="Formações Necessárias" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addNecessaryFormation($event)" [readonly]="isProjectNecessaryFormationsReadonly">
        </mat-chip-list>
      </mat-form-field> -->


      <!-- <div class="form-group" *ngIf="isEditButtonToggled">
        <form [formGroup]="formacoesArr">
        <mat-form-field>
          <mat-label>Formacao</mat-label>
          <mat-select [formControl]="formacao" multiple [(value)]="project.formacoesNecessarias">
            <mat-option *ngFor="let formacao of formacoes" [value]="formacao">{{ formacao }}</mat-option>
          </mat-select>
        </mat-form-field>
        </form>
      </div> -->

      <div *ngIf="isEditButtonToggled">
        <div class="d-flex align-items-center">
          <h2>Formações Necessárias</h2>
        </div>
        <form [formGroup]="formacoesArr">
          <div>
            <ul class="m-5 col-lg-10 list-unstyled" style="column-count: 2;">
              <li *ngFor="let control of formacoesArray.controls; let i = index" #checkboxesFormacoes>
                <div>
                  <div class="row">
                    <mat-checkbox labelPosition="after" class="col-md-5" [formControl]="control"
                      (change)="getSelectedFormacoes()" id="{{formacoes[i]}}">{{ formacoes[i] }}</mat-checkbox>

                  </div>
                </div>
              </li>
            </ul>
          </div>
        </form>
      </div>

      <mat-list *ngIf="isEditButtonToggled">
        <div mat-subheader>Contactos</div>
        <mat-list-item [class]="showEditProjectContact[i] ? 'editListItem' : ''"
          *ngFor="let contacto of updatedProject.contactos; let i = index" [attr.data-index]="i">
          <mat-icon class="contactsItem" matRipple mat-list-icon (click)="showEditContact(i)">
            {{!showEditProjectContact[i] ? 'edit' : 'check'}}</mat-icon>
          <mat-icon class="contactsItem" matRipple mat-list-icon (click)="openRemoveContactDialog(i)">
            delete_forever
          </mat-icon>
          <div *ngIf="!showEditProjectContact[i]" mat-line>{{contacto.contacto}}</div>
          <div *ngIf="!showEditProjectContact[i]" mat-line> {{contacto.descricao}} </div>
          <div mat-line>
            <mat-form-field *ngIf="showEditProjectContact[i]" appearance="fill" class="contactInput">
              <mat-label>Nome Contacto</mat-label>
              <input matInput placeholder="Nome Contacto" [(ngModel)]="contacto.contacto">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="contacto.contacto=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field *ngIf="showEditProjectContact[i]" appearance="fill" class="contactInput">
              <mat-label>Email de Contacto</mat-label>
              <input matInput placeholder="Email de Contacto" [(ngModel)]="contacto.descricao">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="contacto.descricao=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="addContactField" class="editListItem">
          <mat-icon class="contactsItem" matTooltip="Cancelar" matRipple mat-list-icon
            (click)="addContactField = false">close</mat-icon>
          <mat-icon class="contactsItem" matTooltip="Guardar" matRipple mat-list-icon (click)="saveContactField()">
            check
          </mat-icon>
          <div mat-line>
            <mat-form-field appearance="fill" class="contactInput">
              <mat-label>Nome do Novo Contacto</mat-label>
              <input matInput placeholder="Nome do Novo Contacto" [(ngModel)]="newContact.contacto">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="newContact.contacto=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="fill" class="contactInput">
              <mat-label>Email do Novo Contacto</mat-label>
              <input matInput placeholder="Email do Novo Contacto" [(ngModel)]="newContact.descricao">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="newContact.descricao=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="contactsItem" matRipple mat-list-icon (click)="addContactField = true">add
          </mat-icon>
          <div mat-line>Clique no ícone à esquerda</div>
          <div mat-line>para adicionar um novo contacto</div>
        </mat-list-item>
        <mat-divider class="mat-inputs"></mat-divider>
      </mat-list>


      <!-- <mat-form-field appearance="fill" *ngIf="isEditButtonToggled" class="mat-inputs mt-3">
        <button mat-button matPrefix mat-icon-button (click)="readonlyInput('projectAreasOfInterest')">
          <mat-icon>{{isProjectAreasOfInterestReadonly ? 'edit' : 'check'}}</mat-icon>
        </button>
        <mat-chip-list #chipList aria-label="Criar formacoes necessarias">
          <mat-chip *ngFor="let areaInteresse of updatedProject.areasInteresse"
            [removable]="!isProjectAreasOfInterestReadonly" (removed)="removeAreaOfInterest(areaInteresse)">
            {{areaInteresse}}
            <mat-icon matChipRemove [style.visibility]="isProjectAreasOfInterestReadonly ? 'hidden' : 'visible'">
              Cancelar
            </mat-icon>
          </mat-chip>
          <input placeholder="Áreas de Interesse" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addAreaOfInterest($event)" [readonly]="isProjectAreasOfInterestReadonly">
        </mat-chip-list>
      </mat-form-field> -->
      <div *ngIf="!isEditButtonToggled" class="row justify-content-center">
        <button *ngIf="role === 'Voluntario Interno' && candidato===false" type="button" class="btn btn-success btn-lg"
          id="botao2" (click)="volunteer()">CANDIDATAR</button>
        <button *ngIf="candidato===true" type="button" class="btn btn-warning btn-lg"
          (click)="cancelVolunteer()">Cancelar Candidatura</button>
      </div>
      <h2 *ngIf="isEditButtonToggled">Fotos de Capa</h2>
      <button *ngIf="isEditButtonToggled" mat-raised-button class="mr-1" (click)="coverInput.click()">Escolher
        ficheiro e alterar
        <mat-icon>insert_photo</mat-icon></button>
      <h5 class="mt-1" [style.visibility]="isEditButtonToggled && addCoverPhotoResult ? 'visible' : 'hidden'">
        Ficheiro escolhido: <b>{{selectedCoverPhotoFileName}}</b></h5>
      <input hidden (change)="onFileSelected($event)" #coverInput type="file" accept="image/*" id="cover">
      <div *ngIf="isEditButtonToggled && coverPhoto != ''" class="d-flex flex-wrap">
        <mat-card>
          <img *ngIf="coverPhoto != undefined" mat-card-image class="cardImage" style="margin-bottom: 0px;"
            [src]="getSrc(coverPhoto)">
          <mat-spinner *ngIf="coverPhoto == undefined"></mat-spinner>
          <mat-card-actions class="cardButtonActions text-center">
            <button mat-raised-button color="warn" (click)="deleteCoverPhoto(coverPhoto.id)">Eliminar</button>
          </mat-card-actions>
        </mat-card>

      </div><br>
      <h1 class="text-center">Atividades</h1>
      <app-atividades-projeto [projectId]="id" [isEditButtonClicked]="isEditButtonToggled"
        [dataInicio]="project.dataComeco" [dataTermino]="project.dataTermino"></app-atividades-projeto>
    </mat-tab>

    <mat-tab label="Comentários">
      <div *ngIf="isAuthenticated">
        <mat-form-field style="width: 28rem;margin-left: 17rem;">
          <mat-label>Comente</mat-label>
          <textarea matInput [formControl]="commentBody" rows="4" cols="120"></textarea>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="comment()" style="margin-left:2rem">Comentar</button>
      </div>

      <div style="margin-top:1.5rem; margin-left: 20rem;" *ngFor="let comment of comments; let i= index">
        <div *ngIf="isEditButtonToggled">
          <app-comment [comment]="comment" (removeComment)="removeComment(i,comment._id)"
            [currentUserId]="currentUserId" [isModerator]="isModerator"></app-comment>
        </div>
        <div *ngIf="!isEditButtonToggled">
          <app-comment [comment]="comment" (removeComment)="removeComment(i,comment._id)"
            [currentUserId]="currentUserId"></app-comment>
        </div>
      </div>

    </mat-tab>
    <mat-tab *ngIf=" isModerator " label="Inscritos">
      <div class="text-center">
        <button mat-raised-button class="mt-3 mr-2" color="primary" (click)="writeFile()">Exportar Voluntarios <i class="far fa-file"></i></button>
        <button class="button mat-stroked-button mb-3" color="primary"><a href="../../assets/apk/IPS.apk"
            download="ips.apk "> Download App</a></button></div>
      <mat-accordion>

        <mat-expansion-panel style="background-color: #ccffcc;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Lista de voluntários aprovados
            </mat-panel-title>
            <mat-panel-description>
              Aqui pode remover os voluntários atualmente aprovados no projeto
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8">
            <table style="width: 100%;" mat-table [dataSource]="dataSource">

              <!-- Position Column -->
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="dataNascimento">
                <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="distrito">
                <th mat-header-cell *matHeaderCellDef> Distrito </th>
                <td mat-cell *matCellDef="let element"> {{element.distrito}} </td>
              </ng-container>

              <ng-container matColumnDef="concelho">
                <th mat-header-cell *matHeaderCellDef> Concelho </th>
                <td mat-cell *matCellDef="let element"> {{element.concelho}} </td>
              </ng-container>

              <ng-container matColumnDef="escola">
                <th mat-header-cell *matHeaderCellDef> Escola </th>
                <td mat-cell *matCellDef="let element"> {{element.escola}} </td>
              </ng-container>

              <ng-container matColumnDef="formacao">
                <th mat-header-cell *matHeaderCellDef> Formacao </th>
                <td mat-cell *matCellDef="let element"> {{element.formacao}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-mini-fab color="warn" matTooltip="Remover" (click)="removeVolunteer(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="!project.restringido" style="background-color: #ffcccc;"
          (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Lista de voluntários por aprovar
            </mat-panel-title>
            <mat-panel-description>
              Aqui pode aprovar como recusar candidatos ao projeto
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8">
            <table style="width: 100%;" mat-table [dataSource]="dataSourceCandidates">

              <!-- Position Column -->
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="dataNascimento">
                <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="distrito">
                <th mat-header-cell *matHeaderCellDef> Distrito </th>
                <td mat-cell *matCellDef="let element"> {{element.distrito}} </td>
              </ng-container>

              <ng-container matColumnDef="concelho">
                <th mat-header-cell *matHeaderCellDef> Concelho </th>
                <td mat-cell *matCellDef="let element"> {{element.concelho}} </td>
              </ng-container>

              <ng-container matColumnDef="escola">
                <th mat-header-cell *matHeaderCellDef> Escola </th>
                <td mat-cell *matCellDef="let element"> {{element.escola}} </td>
              </ng-container>

              <ng-container matColumnDef="formacao">
                <th mat-header-cell *matHeaderCellDef> Formacao </th>
                <td mat-cell *matCellDef="let element"> {{element.formacao}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-mini-fab class="mr-1" color="primary" matTooltip="Aprovar"
                    (click)="approveCandidate(element)">
                    <mat-icon>thumb_up</mat-icon>
                  </button>
                  <button mat-mini-fab color="warn" matTooltip="Recusar" (click)="disapproveCandidate(element)">
                    <mat-icon>thumb_down</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mat-expansion-panel>

      </mat-accordion>


    </mat-tab>
    <mat-tab *ngIf=" isModerator " label="Presenças">
      <form class="d-flex justify-content-center mt-4 mb-2">
        <button mat-raised-button class="mr-1 mb-3" color="primary" (click)="fileInput.click()">Escolher ficheiro com as
          presenças<i class="far fa-file"></i></button>
        <input hidden (change)="onPresencesFileSelected($event)" #fileInput type="file" accept="" id="presencesFile">
      </form>
      <mat-accordion>

        <mat-expansion-panel style="background-color: #ccffcc;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Voluntários que estiveram presentes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8">
            <table style="width: 100%;" mat-table [dataSource]="dataSourcePresentVolunteers">

              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <ng-container matColumnDef="dataNascimento">
                <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
              </ng-container>

              <ng-container matColumnDef="distrito">
                <th mat-header-cell *matHeaderCellDef> Distrito </th>
                <td mat-cell *matCellDef="let element"> {{element.distrito}} </td>
              </ng-container>

              <ng-container matColumnDef="concelho">
                <th mat-header-cell *matHeaderCellDef> Concelho </th>
                <td mat-cell *matCellDef="let element"> {{element.concelho}} </td>
              </ng-container>

              <ng-container matColumnDef="escola">
                <th mat-header-cell *matHeaderCellDef> Escola </th>
                <td mat-cell *matCellDef="let element"> {{element.escola}} </td>
              </ng-container>

              <ng-container matColumnDef="formacao">
                <th mat-header-cell *matHeaderCellDef> Formacao </th>
                <td mat-cell *matCellDef="let element"> {{element.formacao}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedPresentColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedPresentColumns;"></tr>
            </table>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel style="background-color: #ffcccc;" (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Voluntários que não estiveram presentes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8">
            <table style="width: 100%;" mat-table [dataSource]="dataSourceNonPresentVolunteers">

              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <ng-container matColumnDef="dataNascimento">
                <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
                <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
              </ng-container>

              <ng-container matColumnDef="distrito">
                <th mat-header-cell *matHeaderCellDef> Distrito </th>
                <td mat-cell *matCellDef="let element"> {{element.distrito}} </td>
              </ng-container>

              <ng-container matColumnDef="concelho">
                <th mat-header-cell *matHeaderCellDef> Concelho </th>
                <td mat-cell *matCellDef="let element"> {{element.concelho}} </td>
              </ng-container>

              <ng-container matColumnDef="escola">
                <th mat-header-cell *matHeaderCellDef> Escola </th>
                <td mat-cell *matCellDef="let element"> {{element.escola}} </td>
              </ng-container>

              <ng-container matColumnDef="formacao">
                <th mat-header-cell *matHeaderCellDef> Formacao </th>
                <td mat-cell *matCellDef="let element"> {{element.formacao}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedPresentColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedPresentColumns;"></tr>
            </table>
          </div>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-tab>
    <!-- <mat-tab label="Atividades">

        </mat-tab> -->

  </mat-tab-group>
</div>
