
.row{
  orientation: landscape;
}



form{
  display: inline-block;
  width: 50%;
  margin-left: 20%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 25%;
}

.example-full-width {
  width: 100%;
}

input{
  width: 100%;
}

select{
  width: 100%;
}
