<div class="container ">
  <h1 class="text-center">Registar</h1>
  <div class="text-center"> Pertence a comunidade IPS? Registe-se <a [routerLink]="['/ips_signup']">aqui</a>!
  </div>
  <mat-horizontal-stepper labelPosition="bottom" >
    <mat-step label="Email & Password" [stepControl]="formRegisto">
      <form [formGroup]="formRegisto" class="example-form">
        <div>
          <div class="row form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput type="email" required email-comp id="email" name="email" placeholder="Enter Email"
                [formControl]="email" />
              <mat-error *ngIf="email.hasError('required')">O email é um campo obrigatorio</mat-error>
              <mat-error *ngIf="email.hasError('domain')">O email tem de ter um dominio</mat-error>
              <mat-error *ngIf="email.hasError('end')">O email tem de terminar em ".com" ou em ".pt"</mat-error>
            </mat-form-field>
          </div>
          <div class="row form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Create Password</mat-label>
              <input matInput type="password" required password-comp id="password" name="password"
                placeholder="Password" [formControl]="password" />
              <mat-error *ngIf="password.hasError('required')">A password é um campo obrigatorio.</mat-error>
              <mat-error *ngIf="password.hasError('integer')">A password tem de conter pelo menos um numero</mat-error>
              <mat-error *ngIf="password.hasError('upper')">A password tem de conter pelo menos uma letra
                maiuscula</mat-error>
              <mat-error *ngIf="password.hasError('length')">A password tem de ter pelo menos 8 digitos</mat-error>
            </mat-form-field>
          </div>
          <div class="row form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Create Password</mat-label>
              <input matInput type="password" required password-comp id="confirmPassword" name="confirmPassword"
                placeholder="Confirme a Password" compare="password" [formControl]="confirmPassword" />
              <mat-error *ngIf="confirmPassword.hasError('required')">O confirmar password é um campo obrigatorio.
              </mat-error>
              <mat-error *ngIf="confirmPassword.hasError('compare')">As passwords têm de ser iguais.</mat-error>
            </mat-form-field>
          </div>
          <hr />
        </div>
      </form>
      <div class="row">
        <button mat-raised-button color="primary" matStepperNext style="left:45%;width:15%;">
          Proximo Passo
        </button>
      </div>
    </mat-step>
    <mat-step label="Utilizador" [stepControl]="formInformacao">
      <form [formGroup]="formInformacao" class="example-form">
        <div class="row form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Primeiro e Ultimo Nome</mat-label>
            <input matInput type="text" required id="nome" name="nome" nome-comp placeholder="Primeiro Ultimo"
              [formControl]="nome" />
            <mat-error *ngIf="nome.hasError('required')">O nome é um campo obrigatorio.</mat-error>
            <mat-error *ngIf="nome.hasError('space') ">Deve inserir o primeiro e ultimo nome.</mat-error>
          </mat-form-field>
        </div>
        <div class="row form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Genero</mat-label>
            <mat-select [formControl]="genero">
              <mat-option *ngFor="let genero of generos" [value]="genero">{{
                  genero
                }}</mat-option>
            </mat-select>
            <mat-error *ngIf="genero.hasError('required')">Tem de selecionar um genero</mat-error>
          </mat-form-field>
        </div>
        <div class="row form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput date-comp [formControl]="dataNascimento" matstartDate [max]="minAge"
              [matDatepicker]="dataNascimentoPicker" />
            <mat-datepicker-toggle [for]="dataNascimentoPicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dataNascimentoPicker [startAt]="dataNascimento"></mat-datepicker>
            <mat-error *ngIf="dataNascimento.hasError('year')">É necessario ter 18 anos</mat-error>
          </mat-form-field>
        </div>
        <div class="row form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Numero de Telemóvel</mat-label>
            <input type="number" phone id="numeroTelefone" name="numeroTelefone" matInput
              placeholder="Introduza o Numero de Telefone" formControlName="numeroTelefone">
            <mat-error *ngIf="numeroTelefone.hasError('required')">O numero de telefone é um campo obrigatório
            </mat-error>
            <mat-error *ngIf="numeroTelefone.hasError('length')">O numero de telemóvel tem de ter 9 digitos</mat-error>
          </mat-form-field>
        </div>
        <div class="row form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Distrito</mat-label>
            <input type="text" placeholder="Escolha um Distrito" id="distrito" name="distrito"
              formControlName="distrito" matInput [matAutocomplete]="autoDistrito" />
            <mat-autocomplete #autoDistrito="matAutocomplete">
              <mat-option *ngFor="let distrito of filteredDistritos | async" [value]="distrito">
                {{ distrito }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="row form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Concelho</mat-label>
            <input type="text" placeholder="Escolha um Concelho" class="form-control" id="concelho" name="concelho"
              formControlName="concelho" matInput [matAutocomplete]="autoConcelho" />
            <mat-autocomplete #autoConcelho="matAutocomplete">
              <mat-option *ngFor="let concelho of filteredConcelhos | async" [value]="concelho">
                {{ concelho }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </form>
      <div class="row">
        <button mat-raised-button color="primary" matStepperNext style="left:45%;width:15%;">
          Proximo Passo
        </button>
      </div>
    </mat-step>
    <mat-step label="Informações" [stepControl]="formPreferencias">
      <form [formGroup]="formPreferencias" class="example-form">
        <div class="row form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Tipo de Membro:</mat-label>
            <mat-select [formControl]="tipoMembro">
              <mat-option *ngFor="let tipoMembro of tiposMembro" [value]="tipoMembro">{{ tipoMembro }}</mat-option>
            </mat-select>
            <mat-error *ngIf="tipoMembro.hasError('required')">O tipo de membro tem de ser selecionado</mat-error>
          </mat-form-field>
          <div class="col">
            <div *ngIf="tipoMembro.value === 'Voluntario Interno'">
              <div class="row">
                <mat-form-field class="example-full-width">
                  <mat-label>Escola</mat-label>
                  <mat-select [formControl]="escola">
                    <mat-option *ngFor="let escola of escolas" [value]="escola">{{ escola }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="example-full-width">
                  <mat-label>Qual é o seu nivel de formação mais elevado?</mat-label>
                  <mat-select [formControl]="formacao">
                    <mat-option *ngFor="let formacao of formacoes" [value]="formacao">{{ formacao }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div>
          <label for="AreasInteresse">Areas de Interesse:</label>

          <ul class="col-lg-10 list-unstyled" style="column-count: 2;">
            <li id="lista" *ngFor="let control of areasArray.controls; let i = index">
              <div class="row d-flex justify-content-between">
                <mat-checkbox labelPosition="after" class="col-md-5" [formControl]="control"
                  (change)="getSelectedAreas()" name="{{ areas[i] }}" color="primary">{{ areas[i] }}</mat-checkbox>
              </div>
            </li>
          </ul>
        </div>
        <div class="align-items-center">
          <mat-checkbox labelPosition="after" formGroupName="RGPD" name="RGPD" (change)="RGPDchecked($event)"
            color="primary">Li a aceito a Política de Privacidade e Proteção de
            Dados</mat-checkbox>
          <div *ngIf="RGPD.invalid && (RGPD.dirty || RGPD.touched)" class="alert alert-danger">
            <div *ngIf="RGPD.errors.required">
              Necessita de aceitar o seguinte regulamento de proteção de
              dados.
            </div>
          </div>
        </div>
        <div class="row">
          <button mat-raised-button color="primary" matStepperNext style="left:40%;width:35%;" (click)="postData()">
            Registar
          </button>
        </div>

      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<script>
  (function () {
    console.log("Ready");
    var ul = document.getElementById("lista");
    ul.style.columnCount = 2;
  })();
</script>
