.card{
	height: 300px;
	width: 300px;
}
.badge{
  position: relative;
  margin-top: -50px;
  z-index: 1;
}
.example-card {
  max-width: 400px;
  border: none;
  box-shadow: none;
  text-align: center;
}
/*
.card:hover .inner {
	transform: rotateY(180deg);
  transition:  0.6s;
  transform-style: preserve-3d;
}*/
.back{ transform: rotateY(180deg);}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
