#faq {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 16px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

#addbutton{
    align-items: right;
}

.example-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    font-size: 14px;
    margin-left: 5rem;;
}

.example-full-width {
    width: 100%;
}