<div>
    <h1 class="text-center"> Editar Conteudo do Carrosel</h1>
    <div class="container">
        <div class="container d-justify-content-start">
            <h2> Fotos Existentes</h2>

            <button mat-raised-button class="mr-1" (click)="fileCarouselInput.click()">Escolher ficheiro
        <mat-icon>insert_photo</mat-icon></button>
            <h5 class="mt-1" [style.visibility]="addPhotoResult ? 'visible' : 'hidden'">Ficheiro escolhido:
                <b>{{selectedPhotoFileName}}</b></h5>
            <input hidden (change)="onFileSelected($event)" #fileCarouselInput type="file" accept="image/*" id="fileCarousel">
            <div class="d-flex flex-wrap">
                <mat-card *ngFor="let photo of fotos; let i = index" [attr.index]="i" [class]="i+1 % 3 ? 'cardGallery mb-1' : 'cardGallery mb-1 mr-1'">
                    <img *ngIf="photo != undefined" mat-card-image class="cardImage" style="margin-bottom: 0px;" [src]="getSrc(photo)">
                    <mat-spinner class="m-auto" *ngIf="photo == undefined" mat-card-image></mat-spinner>
                    <mat-card-actions *ngIf="photo != undefined" class="cardButtonActions text-center align-middle">
                        <button mat-raised-button color="warn" (click)="onDelete(photo.id)">Eliminar</button>
                    </mat-card-actions>
                </mat-card>

            </div>

        </div>
