.row{
    margin-top: 2vh;
}

h1{
    font: 400 2.5rem Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
}

.badge > i:hover{
    cursor: pointer;
}

.dropdown-item:hover{
    cursor:pointer;
}



.badge{
    margin-right: 1px;
}


label{
    margin-bottom: 2px;
    margin-top: 4px;
}

.hide{
    visibility: hidden;
    height: 0;
    transition: 0.5s;
}

.horizontalDivider{
    width: 100%;
    height: 1px;
    background: #cccccc;
}

.divider {
    width: 1px;
    margin: 12px 0.5vw 4px 0.5vw;
    background: #cccccc;
  }

#filterForm{
    padding: 2px;
    width: 100%;
    transition: 0.5s;
}

#divFilter{
    margin-left: 0.7%;
    margin-right: 0.7%;
}

#buttonFilter{
    transition: 0.3s;
    width: 42px;
    text-align: left;
    height: 36px;
    transition: 0.5s;
}

#buttonFilter:hover, #buttonFilter:focus{
    width: 92px;
}

.card-title, .card-text{
    text-align: center;
}

.card{
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1.7vh;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Scale up the box */
.card:hover {
    cursor:pointer;
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }

  /* Fade in the pseudo-element with the bigger shadow */
  .card::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .card:hover::after {
    opacity: 1;
}

.card-title{
    margin-bottom: 0.5vh;
}
