.pollCard{
    width: 32%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.pollCard{
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1.7vh;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Scale up the box */
.pollCard:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
  }
  
  /* Fade in the pseudo-element with the bigger shadow */
  .pollCard::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .pollCard:hover::after {
    opacity: 1;
}