<app-nav></app-nav>
    <app-alerts></app-alerts>

<div id="page-container" class="container mt-5">
  <div id="content-wrap" >
    <router-outlet class="alternate-theme"></router-outlet>
  </div>
  <app-footer id="footer"></app-footer>
</div>
