body {
    text-align: center;
}

#page-container {
    position: relative;
    min-height: calc(100vh - 70px);
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}
