<div class="container p-5 m-10">
  <h1  class="text-center">Editar Perfil</h1>
  <form [formGroup]="formProfile" class="example-form">
    <div class="row form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput disabled type="text" #email value="{{ user.email }}" />
      </mat-form-field>
    </div>
    <div class="row form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Primeiro e Ultimo nome</mat-label>
        <input
          matInput
          required
          nome-comp
          type="text"
          name="nome"
          [formControl]="nome"
        />
        <mat-error *ngIf="nome.hasError('required') && nome.touched"
          >O nome é um campo obrigatorio</mat-error
        >
        <mat-error *ngIf="nome.hasError('length') || nome.hasError('space')"
          >Deve inserir o primeiro e ultimo nome</mat-error
        >
      </mat-form-field>
    </div>
    <div class="row form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Genero</mat-label>
        <mat-select [formControl]="genero" [value]="genero.value">
          <mat-option *ngFor="let genero of generos; let i = index" value="{{genero}}">{{
            genero
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Data de Nascimento</mat-label>
        <input
          matInput
          date-comp
          [formControl]="dataNascimento"
          matstartDate
          [max]="minAge"
          [matDatepicker]="dataNascimentoPicker"
        />
        <mat-datepicker-toggle
          [for]="dataNascimentoPicker"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker
          #dataNascimentoPicker
          [startAt]="dataNascimento"
        ></mat-datepicker>
        <mat-error *ngIf="dataNascimento.hasError('year')"
          >É necessario ter 18 anos</mat-error
        >
      </mat-form-field>
    </div>
    <div class="row form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Numero de Telemóvel</mat-label>
        <input
          matInput
          type="number"
          phone
          placeholder="Introduza o Numero de Telefone"
          [formControl]="numeroTelefone"
        />
        <mat-error *ngIf="numeroTelefone.hasError('length')"
          >O numero de telemóvel tem de ter 9 digitos</mat-error
        >
        <mat-error *ngIf="numeroTelefone.hasError('integer')"
          >O numero de telemóvel não pode conter letras nem espaços</mat-error
        >
      </mat-form-field>
    </div>
    <div class="row form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Distrito</mat-label>
        <input
          type="text"
          placeholder="Escolha um Distrito"
          id="distrito"
          name="distrito"
          [formControl]="distrito"
          matInput
          [matAutocomplete]="autoDistrito"
        />
        <mat-autocomplete #autoDistrito="matAutocomplete">
          <mat-option
            *ngFor="let distrito of filteredDistritos | async"
            [value]="distrito"
          >
            {{ distrito }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="row form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Concelho</mat-label>
        <input
          type="text"
          placeholder="Escolha um Concelho"
          class="form-control col-md-4"
          id="concelho"
          name="concelho"
          formControlName="concelho"
          matInput
          [matAutocomplete]="autoConcelho"
        />
        <mat-autocomplete #autoConcelho="matAutocomplete">
          <mat-option
            *ngFor="let concelho of filteredConcelhos | async"
            [value]="concelho"
          >
            {{ concelho }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Tipo de Utilizador</mat-label>
        <input
          matInput
          disabled
          type="text"
          #tipoMembro
          value="{{ user.tipoMembro }}"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Data de Criação de Conta</mat-label>
        <input
          matInput
          disabled
          type="text"
          #dataCriacao
          value="{{ user.dataCriacao }}"
        />
      </mat-form-field>
    </div>
  </form>
  <div class="row">
    <div class="col-md-5"  style="left: 32%;">
      <button mat-raised-button color="primary" (click)="updateData()">
        Guardar Alteraçoes
      </button>
    </div>
    <div class="col-md-6"  style="left: 11%;">
      <button mat-flat-button color="accent" [routerLink]="['/alterPassword']">
        Alterar Password
      </button>
    </div>
  </div>
</div>
