#add-formacao {
  width: 100%;
}

.next-step{
  margin:0;
  position: absolute;
  width: 30%;
  margin-top: 3%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.reAlign{
  padding-left: -15px !important;
}

#add-atividade {
  float: right;
  margin-top: 1.5rem;
}
.adding-removing {
  border: none;
  color: white;
  padding: 5px 9px;
  text-align: center;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  float: none;
  width: 100%;
  margin-top: 2rem;
}

.btn-add-gestor {
  margin-top: 1.7rem;
}

.remove-gestor {
  background-color: red;
  text-align: center;
  color: white;
}
.center-column {
  margin-left: -15px;
}

.big-input{
  width: 60%;
}
