<div class="row d-flex justify-content-center">
  <div class="col-md-5 m-auto shadow-sm p-3 mb-5 bg-white rounded">
    <h1 class="text-center">Alterar password</h1>
    <form [formGroup]="formPassword" >

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Password Nova</mat-label>
          <input matInput required type="text" type="password" id="password" name="password" class="form-control"
            formControlName="password" />
        </mat-form-field>
        <div *ngIf="
            password.invalid && (password.dirty || password.touched)
          " class="alert alert-danger">
          <div *ngIf="password.errors.required">
            A password é um campo obrigatorio.
          </div>
          <div *ngIf="password.errors['integer']">
            A password tem de conter pelo menos um numero
          </div>
          <div *ngIf="password.errors['upper']">
            A password tem de conter pelo menos uma letra maiuscula
          </div>
          <div *ngIf="password.errors['length']">
            A password tem de ter pelo menos 8 digitos
          </div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Confirmar Password</mat-label>
          <input matInput required type="text" type="password" id="confirmPassword" name="confirmPassword"
            class="form-control" formControlName="confirmPassword" compare="password" />
        </mat-form-field>
        <div *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
          " class="alert alert-danger">
          <div *ngIf="confirmPassword.errors.required">
            A password de confirmação é um campo obrigatorio.
          </div>
          <div *ngIf="confirmPassword.errors['compare']">
            As passwords têm de ser iguais.
          </div>
        </div>
      </div>

      <button mat-raised-button color="primary" type="submit" class="btn btn-primary btn-block"
        (click)="alterPassword()">
        Alterar Password
      </button>
    </form>
  </div>
</div>
