

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.d-flex{
  overflow: hidden;
}

.mat-card{
  width: 18.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1.7vh;
  padding-bottom: 30px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Scale up the box */
.mat-card:hover {
  cursor:pointer;
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

/* Fade in the pseudo-element with the bigger shadow */
.mat-card::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mat-card:hover::after {
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
  .mat-card{
    width: 31.5%;
  }
}

@media only screen and (max-width: 600px) {
  .mat-card{
    width: 48.5%;
  }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 85%;
  margin-left: 7%;
}

.example-full-width {
  width: 100%;
}
