<div class="row d-flex justify-content-center" >
  <img src="./assets/img/idk9.jpg" style="width: 20%;" class="col">
  <div class="col-md-5 m-auto ">

    <h1>Acesso não Autorizado</h1>
    <h3>Verifique se está autenticado corretamente</h3>
  </div>

</div>
