<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand brand-a" [routerLink]="['/']"><img src="assets/img/logo_white.png" class="brand"
      style="max-width:40px;max-height: 40px;"></a>
  <button class="navbar-toggler  align-self-center   text-center" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span><i style="color: white;" class="fas fa-bars"></i></span>
  </button>

  <div class=" collapse navbar-collapse row justify-content-between" id="navbarNav">

    <ul class="navbar-nav ml-3 pr-2">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/projects']">Projetos </a>
      </li>
      <li class="nav-item" *ngIf="isGestor"> <a class="nav-link" [routerLink]="['/createSondagem']">Sondagens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/faqs']">FAQ's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contacts']">Contactos</a>
      </li>
      <li #aprove class="nav-item dropdown" *ngIf="isGestor">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Aprovar</a>
        <div class="dropdown-menu mt-2" *ngIf="isGestor">
          <a class="dropdown-item" [routerLink]="['/userAprove']">Utilizadores</a>
          <a class="dropdown-item" [routerLink]="['/projectsAprove']">Projetos</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isGestor">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Criar</a>

        <div class="dropdown-menu mt-2" *ngIf="isGestor">
          <a class="dropdown-item" [routerLink]="['/createGestor']">Gestores</a>
          <a class="dropdown-item" [routerLink]="['/createProject']">Projeto</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isGestor">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Editar Conteudos</a>

        <div class="dropdown-menu mt-2" *ngIf="isGestor">
          <a class="dropdown-item" [routerLink]="['/editCarrosel']">Carrousel</a>
          <a class="dropdown-item" [routerLink]="['/pickTop3']">Top 3 Projetos</a>
        </div>
      </li>

    </ul>

    <div #logout class="mr-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup']">Registar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
      </ul>

    </div>
    <div #logged class="mr-3">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logOut()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
